@import url("https://fonts.googleapis.com/css2?family=The+Nautigal&display=swap");

html,
body,
#root {
  height: 100%;
  margin: 0;
}

.main-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
